extends layout

block content
  header
    h1= applicationTitle
  main
    p= viewResultsLabel
    label(for='codeOutput')
      p= codeOutputLabel
    textarea(id='codeOutput', name='codeOutput', rows='16', cols='51', readonly='true')= codeOutputValue