extends layout

block content
  h1= title
  div.step(id='step1')
    h2 Step 1: Choose your basic preferences
    form(name='basicsForm' onSubmit='showStep(2); event.preventDefault();')
      label(for='programmingLanguage')
        p What programming language would you like to produce?
      select(id='programmingLanguage', value='Crystal')
        option(value='crystal') Crystal
      label(for='inputType')
        p How would you like to provide the input for the program?
      select(id='inputType', value='Form')
        option(value='file') File
        option(value='form') Form
      label(for='outputType')
        p How would you like to recieve the output for the program?
      select(id='outputType', value='Form')
        option(value='files') Files
        option(value='form') Form
      input(type='submit' value='Continue')
  div.step(id='step2')
    h2 Step 2: Collect the input
    form(name='inputForm' onSubmit='showStep(3); event.preventDefault();')
      div.inputType(id='fileInput')
        label(for='uploadInput')
          p Select the file you would like to upload.
        input(id='uploadInput', accept='.txt' type='file')
        p
          | See the README for instructions on how
          | to convert the original pdf into text.
      div.inputType(id='formInput')
        label(for='contestInput')
          p Copy and paste the contest in the area above.
        textarea(id='contestInput', rows='20', cols='100')
      input(type='submit' value='Continue')
  div.step(id='step3')
    h2 Step 3: Choosing which question you want to solve
