extends layout

block content
  header
    h1= title
  main
    p Welcome to Autocoder!
    h2 Vue Application
    p Most people should use web application made in vue.
    p It has many advanced features in it
    ul
      li Modern look and feel
      li Installable as an application
      li Works offline
    a(href='/vue') View the vue version of the site!
    h2 Basic Application
    p If you don't want to use css or javascript,
      | or have trouble using the vue version of the page,
      | we have a basic version of the application.
    p It has all the features of the vue application without
      | any of the bells and whistles of the modern era.
    a(href='/basic') View the basic version of the site!